*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    height: 100vh;
    background-color: #f8fcfb;
}

.heading{
    text-align: center;
}

.container{
    height: 90%;
    border: 2px solid #000;
    width: 50rem;
    display: flex;
    justify-content: space-around;
    margin: 2px auto;
    background-color: #c9fdd7;
    border-radius: 10px;
}

.input-box{
    height: fit-content;
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
     background-color: #beccc0; 
    border: none;
    border: 1px double #000;
}

.input{
    padding: 10px;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    margin: 5px 0px;
    border: none;
}

.btn-box{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;

}

.btn-style{
    padding: 7px;
    width: 40%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn{
    background-color: #4bfa85;
}

.remove-btn{
    background-color: #ec5050;
}

.phonenum-box{
    height: 95%;
    width: 40%;
    margin-top: 15px;
    background-color: #79d1c3;
    border-radius: 10px;
    padding-top: 20px;
    overflow: scroll;
}

.number-card{
    border: 1px solid #000;
    margin: 0px 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffff;
}

.message{
    text-align: center;
    padding: 2px;
    color: #ec5050;
}